beautifulsoup4==4.13.4
bidict==0.23.1
certifi==2025.4.26
charset-normalizer==3.4.2
Deprecated==1.2.18
ffmpeg==1.4
Fileseq==2.2.0
gazu==0.10.31
h11==0.16.0
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
-e git+https://github.com/hesmoar/KitsuHomeStudioTools.git@52ae954f324bef0eac86b5fdfe2d96b677f25415#egg=kitsu_home_pipeline
more-itertools==10.7.0
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
python-dotenv==1.1.0
python-engineio==4.12.2
python-socketio==5.13.0
pywin32==310
pywin32-ctypes==0.2.3
requests==2.32.4
shiboken6==6.9.1
simple-websocket==1.1.0
soupsieve==2.7
typing_extensions==4.14.0
urllib3==2.4.0
websocket-client==1.8.0
wrapt==1.17.2
wsproto==1.2.0
